In [2]:
import pandas as pd

In [ ]:
# imported pandas library for data manupulation

In [3]:
customer_data=pd.read_json('Downloads/customers.json')

In [ ]:
# read customer_data which is in json format

In [4]:
customer_data

     customer_id     customer_name      country           city
0           9780      Jessica Hart   Martinique  South William
1           9169         Amy Clark   Kazakhstan     Davisville
2           6631  Danielle Elliott      Armenia     East Danny
3           8772     Robin Mendoza       Uganda    Johnsonbury
4           8913    Abigail Miller      Namibia  Wrightchester
..           ...               ...          ...            ...
995         6357    Jessica Castro     Dominica     Deannastad
996          244    Cheryl Ramirez       Malawi  Martinezmouth
997         4490   Luis Strickland        Italy     Oneilltown
998         2984    Jennifer Kelly      Bahamas    Xavierville
999         8760    Anthony Wilson  Switzerland      Torreston

[1000 rows x 4 columns]

In [31]:
customer_data=pd.DataFrame(customer_data)
customer_data

     customer_id     customer_name      country           city
0           9780      Jessica Hart   Martinique  South William
1           9169         Amy Clark   Kazakhstan     Davisville
2           6631  Danielle Elliott      Armenia     East Danny
3           8772     Robin Mendoza       Uganda    Johnsonbury
4           8913    Abigail Miller      Namibia  Wrightchester
..           ...               ...          ...            ...
995         6357    Jessica Castro     Dominica     Deannastad
996          244    Cheryl Ramirez       Malawi  Martinezmouth
997         4490   Luis Strickland        Italy     Oneilltown
998         2984    Jennifer Kelly      Bahamas    Xavierville
999         8760    Anthony Wilson  Switzerland      Torreston

[1000 rows x 4 columns]

In [5]:
customer_data.tail()

     customer_id    customer_name      country           city
995         6357   Jessica Castro     Dominica     Deannastad
996          244   Cheryl Ramirez       Malawi  Martinezmouth
997         4490  Luis Strickland        Italy     Oneilltown
998         2984   Jennifer Kelly      Bahamas    Xavierville
999         8760   Anthony Wilson  Switzerland      Torreston

In [6]:
customer_data.isnull()

     customer_id  customer_name  country   city
0          False          False    False  False
1          False          False    False  False
2          False          False    False  False
3          False          False    False  False
4          False          False    False  False
..           ...            ...      ...    ...
995        False          False    False  False
996        False          False    False  False
997        False          False    False  False
998        False          False    False  False
999        False          False    False  False

[1000 rows x 4 columns]

In [7]:
customer_data.isnull().sum()

customer_id      0
customer_name    0
country          0
city             0
dtype: int64

In [8]:
transaction_data=pd.read_json('Downloads/transaction_logs.json')

In [9]:
transaction_data

,order_id,customer_id,product_id,product_name,product_category,payment_type,qty,price,datetime,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,1,1731,8609,Central home & kitche,Home & Kitchen,Wallet,25,64216,2021-07-26 20:16:14,www.bestbuy.com,a395e8c7,N,Card Expired
1,2,5539,2409,Upon sport,Sports,Card,34,69877,2021-08-25 03:41:32,www.flipkart.com,b40791f8,N,Invalid CVV
2,3,3507,1145,Across stationer,Stationery,Card,28,35491,2024-06-21 21:39:21,www.target.com,7fb6cca9,N,Blocked Card
3,4,4826,8375,Start home & kitche,Home & Kitchen,Card,33,39540,2022-09-17 13:52:11,www.amazon.in,cae677f3,N,Transaction Timeout
4,5,6538,2149,Draw beaut,Beauty,Card,27,80635,2022-03-09 07:58:08,www.etsy.com,fbce1649,N,Invalid CVV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,1496,9676,Range home & kitche,Home & Kitchen,Wallet,39,61151,2024-03-17 09:06:05,www.ebay.in,03c982f7,Y,
9996,9997,7288,9927,Once toy,Toys,Internet Banking,44,53963,2024-06-17 08:04:22,www.amazon.in,46bd0811,N,Blocked Card
9997,9998,8381,3852,Human beaut,Beauty,UPI,48,26032,2023-02-05 04:20:30,www.tatacliq.com,d115279c,Y,
9998,9999,5494,7324,Light beaut,Beauty,UPI,17,28277,2024-02-17 03:05:57,www.etsy.com,6d1628b3,N,Card Expired
9999,10000,1490,6547,Source furnitur,Furniture,UPI,34,91020,2023-01-11 03:02:53,www.flipkart.com,224381cd,N,Insufficient Funds

In [10]:
transaction_data.tail()

,order_id,customer_id,product_id,product_name,product_category,payment_type,qty,price,datetime,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
9995,9996,1496,9676,Range home & kitche,Home & Kitchen,Wallet,39,61151,2024-03-17 09:06:05,www.ebay.in,03c982f7,Y,
9996,9997,7288,9927,Once toy,Toys,Internet Banking,44,53963,2024-06-17 08:04:22,www.amazon.in,46bd0811,N,Blocked Card
9997,9998,8381,3852,Human beaut,Beauty,UPI,48,26032,2023-02-05 04:20:30,www.tatacliq.com,d115279c,Y,
9998,9999,5494,7324,Light beaut,Beauty,UPI,17,28277,2024-02-17 03:05:57,www.etsy.com,6d1628b3,N,Card Expired
9999,10000,1490,6547,Source furnitur,Furniture,UPI,34,91020,2023-01-11 03:02:53,www.flipkart.com,224381cd,N,Insufficient Funds

In [11]:
transaction_data.head()

,order_id,customer_id,product_id,product_name,product_category,payment_type,qty,price,datetime,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,1,1731,8609,Central home & kitche,Home & Kitchen,Wallet,25,64216,2021-07-26 20:16:14,www.bestbuy.com,a395e8c7,N,Card Expired
1,2,5539,2409,Upon sport,Sports,Card,34,69877,2021-08-25 03:41:32,www.flipkart.com,b40791f8,N,Invalid CVV
2,3,3507,1145,Across stationer,Stationery,Card,28,35491,2024-06-21 21:39:21,www.target.com,7fb6cca9,N,Blocked Card
3,4,4826,8375,Start home & kitche,Home & Kitchen,Card,33,39540,2022-09-17 13:52:11,www.amazon.in,cae677f3,N,Transaction Timeout
4,5,6538,2149,Draw beaut,Beauty,Card,27,80635,2022-03-09 07:58:08,www.etsy.com,fbce1649,N,Invalid CVV

In [12]:
transaction_data.isna().sum()

order_id                  0
customer_id               0
product_id                0
product_name              0
product_category          0
payment_type              0
qty                       0
price                     0
datetime                  0
ecommerce_website_name    0
payment_txn_id            0
payment_txn_success       0
failure_reason            0
dtype: int64

In [15]:
import mysql.connector

In [16]:
db=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Pavan@mysql29",
    database="demo"
)

In [17]:
cursor=db.cursor()

In [18]:
cursor.execute("select * from customers")
result=cursor.fetchall()
for i in result:
    print(i)

(9780, 'Jessica Hart', 'Martinique', 'South William')
(9169, 'Amy Clark', 'Kazakhstan', 'Davisville')
(6631, 'Danielle Elliott', 'Armenia', 'East Danny')
(8772, 'Robin Mendoza', 'Uganda', 'Johnsonbury')
(8913, 'Abigail Miller', 'Namibia', 'Wrightchester')
(3211, 'Jennifer Wright', 'Zimbabwe', 'New Erinbury')
(1211, 'Ricky Johnston', 'Belarus', 'North Jeremyside')
(9529, 'Brittney Chandler', 'Andorra', 'Bellside')
(6164, 'Justin Pittman', 'Mongolia', 'Port Rhonda')
(3252, 'Robert Smith', 'Austria', 'Tonyaburgh')
(9959, 'Amber Edwards', 'Indonesia', 'Joneston')
(8820, 'Larry Mccoy', 'Greece', 'Jesuston')
(3683, 'Tyler Parsons DDS', 'Slovakia (Slovak Republic)', 'Sanchezburgh')
(7488, 'Monica Kelly', 'Bangladesh', 'South Michaelmouth')
(2525, 'Brandon Martin', 'Kazakhstan', 'East John')
(2289, 'Christina Mathis', 'Solomon Islands', 'Patriciaview')
(3540, 'Mary Davis', 'Ethiopia', 'West Joseph')
(1217, 'Denise Ochoa', 'Sierra Leone', 'New Paul')
(6681, 'Dale Cannon', 'Finland', 'Allisonside')
(4336, 'Russell Harris', 'Indonesia', 'North Mauriceshire')
(2517, 'David Booker', 'Indonesia', 'Cunninghamfurt')
(9966, 'Carrie Sanders', 'Morocco', 'South Ronald')
(9205, 'Emily Ritter', 'North Macedonia', 'West Bonnie')
(1612, 'Scott Winters', 'Saint Kitts and Nevis', 'Lake Steven')
(8916, 'Phillip Le', 'Qatar', 'New Misty')
(6871, 'Chase Stokes', 'Kyrgyz Republic', 'West Amanda')
(9954, 'Christopher Allen', 'Greenland', 'North John')
(7787, 'Lisa Price', 'Hong Kong', 'New Frances')
(5766, 'Leslie Medina', 'French Guiana', 'Paulaton')
(6353, 'Timothy Gonzalez', 'Seychelles', 'East Donald')
(6806, 'Jill Rivas', 'Saint Lucia', 'Millertown')
(349, 'Philip Riggs', 'Fiji', 'East Vickimouth')
(3062, 'Rebecca Burgess', 'Bahrain', 'Port Robertbury')
(6251, 'Duane Bowen', 'Australia', 'East Michael')
(8222, 'April Le', 'South Africa', 'Port Amanda')
(6014, 'Hannah Sutton', 'Ukraine', 'Jenniferside')
(574, 'Kyle Mendoza', 'Kiribati', 'Lindaton')
(8794, 'Jimmy Jackson', 'Jamaica', 'South Johnview')
(6564, 'Paula Jacobs', 'Switzerland', 'Cooperchester')
(2161, 'Penny Love', 'Samoa', 'Johnsonland')
(9708, 'Erika Knox', 'North Macedonia', 'Brownchester')
(2845, 'Mr. Michael Robertson', 'Guernsey', 'Stricklandstad')
(5294, 'Natasha Irwin', 'Dominica', 'Lake Deanna')
(6911, 'Samantha Bradley', 'Iceland', 'Jenniferberg')
(7185, 'Robert Dorsey', 'Cocos (Keeling) Islands', 'Perezmouth')
(4505, 'William Boone', "Cote d'Ivoire", 'North Jacqueline')
(6216, 'Jamie Lawson', 'Saint Barthelemy', 'Robertsbury')
(3159, 'Mr. Michael Martin', 'Ukraine', 'Woodside')
(3085, 'Ronald Peterson', 'Andorra', 'New Jasmine')
(2302, 'Donald Marquez', 'United Kingdom', 'Brianbury')
(7167, 'Veronica Steele', 'Georgia', 'West David')
(3021, 'Katelyn Bennett', 'Slovenia', 'Ambermouth')
(8006, 'Christina Jackson', 'Azerbaijan', 'Morganside')
(8158, 'Mary Adams', 'Cocos (Keeling) Islands', 'Port Christineport')
(2403, 'Carol Reyes', 'Zimbabwe', 'Lake Philip')
(3864, 'Michelle Harrington', 'Jordan', 'East Samanthamouth')
(3834, 'Michael Guerra', 'Gambia', 'Ramirezport')
(8304, 'Aaron Chavez', 'Azerbaijan', 'North Omarside')
(6371, 'Nicholas Odonnell', 'Niger', 'Port Timothy')
(2948, 'Katherine Mcintyre', 'Monaco', 'Erikaborough')
(746, 'Shannon Carroll', 'Mozambique', 'Thomasshire')
(6232, 'Stephanie Spears', 'Morocco', 'Port Sean')
(1528, 'Cynthia Schmidt', 'Saint Pierre and Miquelon', 'West William')
(4339, 'Roy Murphy', 'Seychelles', 'Gardnerberg')
(274, 'Theresa Hicks', 'Netherlands Antilles', 'West Patriciaberg')
(4274, 'Jessica Andrews', 'Algeria', 'West Gabriellaton')
(5869, 'Leonard Scott', 'Korea', 'East Dylan')
(7771, 'Bryan Washington', 'Hong Kong', 'New Michaelfurt')
(6212, 'Stephen Flynn', 'Tanzania', 'West Jessica')
(1891, 'Mrs. Melinda Garcia', 'Cayman Islands', 'New Timothymouth')
(4056, 'Dorothy Hill', 'Congo', 'Jennaberg')
(462, 'Kathleen Fitzgerald', 'Nigeria', 'Port Daniel')
(9304, 'Katherine Bradshaw', 'Denmark', 'South Christopherfort')
(2987, 'Dawn Wolfe', 'Qatar', 'Crawfordton')
(3140, 'Michael Steele', 'Guinea', 'East Susan')
(2946, 'Jacob Newman', 'Cambodia', 'Thomasbury')
(5390, 'Rachel Shelton', 'Armenia', 'Lake Jessica')
(2326, 'Daniel Edwards', 'United Kingdom', 'Jameschester')
(9009, 'James Mccarthy', 'Belarus', 'East Davidport')
(3534, 'Kenneth Parrish', 'Honduras', 'Lake Valerieville')
(1892, 'Madison Black', 'Mali', 'Suzanneville')
(2361, 'Steven Navarro', 'Spain', 'North Kim')
(873, 'Sally Johnson', 'Venezuela', 'West Danielville')
(9608, 'Thomas Moore', 'Singapore', 'Ericton')
(3585, 'Frank Turner', 'India', 'Kennethport')
(4024, 'Carl Rios', 'Nigeria', 'Port Brian')
(6638, 'Jennifer James', 'Moldova', 'Moorefort')
(8052, 'Felicia Hicks', 'Equatorial Guinea', 'Amyfort')
(1670, 'Jessica Lyons', 'Thailand', 'Dawnborough')
(2757, 'Dustin Conner', 'Iceland', 'Dannyfurt')
(5628, 'Tonya Vasquez', 'Oman', 'Kimmouth')
(3283, 'Mason Perkins', 'Djibouti', 'Brownberg')
(3199, 'Amy Thompson', 'Namibia', 'New Tanyahaven')
(1542, 'Meagan Villa', 'Uruguay', 'Lake Jeffreymouth')
(7936, 'Bryce Carter', 'Mali', 'Port Christopher')
(1547, 'Misty Rice', 'Solomon Islands', 'West Kellyton')
(9511, 'Tracy Hunt', "Cote d'Ivoire", 'Kristachester')
(2009, 'Jordan Cox', 'Antarctica (the territory South of 60 deg S)', 'Davidport')
(8325, 'Brad Clark', 'Gambia', 'New Chad')
(6132, 'Andrea Larson', 'Sierra Leone', 'Ronaldmouth')
(1592, 'Monica Roberts', 'Fiji', 'Hollymouth')
(9099, 'Carolyn Baker', 'Denmark', 'Alexton')
(6486, 'Danielle Reyes', 'Angola', 'New Anthonyshire')
(1386, 'Joseph Ochoa', 'North Macedonia', 'North Andreachester')
(2425, 'Crystal Lindsey', 'South Georgia and the South Sandwich Islands', 'Douglasbury')
(1074, 'Gabriela Bishop', 'Andorra', 'West Alexisstad')
(2272, 'Brenda Snyder', 'Zambia', 'Lake Jennifer')
(5482, 'John Parker', 'Sweden', 'Wilsonmouth')
(9920, 'Mary Martin', 'North Macedonia', 'Port Michael')
(9465, 'Jessica Caldwell', 'Singapore', 'Stevenston')
(2726, 'Erin Gray', 'Niue', 'Lake Erin')
(5003, 'Timothy Dixon', 'Sri Lanka', 'East Monica')
(1479, 'Keith Mccall', 'Faroe Islands', 'Tristantown')
(7358, 'Deanna Garcia', 'Norfolk Island', 'Royborough')
(9889, 'David Campbell', 'Malaysia', 'Smithton')
(5649, 'Michael Ponce', 'Dominica', 'Jesseville')
(6725, 'Erika Alexander', 'Guinea', 'Salazarton')
(9329, 'Lauren Morales', 'United Arab Emirates', 'Andersonberg')
(3990, 'Joshua Brooks', 'French Southern Territories', 'Lake Cherylport')
(2144, 'Rebecca Wilson', 'Montserrat', 'Jackieside')
(8096, 'James Stevenson', 'Comoros', 'Coxmouth')
(8233, 'Jason Diaz', 'French Southern Territories', 'Hannahport')
(770, 'Travis Mullins', 'Mongolia', 'Joshuaville')
(903, 'Cheryl Williams', 'Oman', 'Lake Debraton')
(8387, 'Sarah Bailey', 'Pakistan', 'New Michaelstad')
(6428, 'Joshua Lynch', 'Hong Kong', 'New Samuel')
(9052, 'David House', 'Algeria', 'Lake Rebecca')
(6945, 'William Clark', 'Papua New Guinea', 'Smithfurt')
(4359, 'Scott Schneider', 'Argentina', 'New Jacobmouth')
(8601, 'Anthony Rogers', 'Sierra Leone', 'South Corey')
(7513, 'Amy Chen', 'Mali', 'Stephanieview')
(5822, 'Lindsey Smith', 'Chad', 'South Ricky')
(6902, 'Robin Barnes', 'New Caledonia', 'Garzafort')
(5433, 'Jennifer Brown', 'Moldova', 'Jeffreyberg')
(4218, 'Kathleen Osborne', 'Saint Kitts and Nevis', 'East Kennethmouth')
(3621, 'Peter Walker', 'Trinidad and Tobago', 'New Timothyton')
(3492, 'Jacob Reyes', 'Liechtenstein', 'North Bill')
(6797, 'Anna Brown', 'Austria', 'Lisachester')
(3767, 'Victor Hansen', 'Guatemala', 'North Mark')
(521, 'Margaret Ward', 'Belarus', 'South Frederick')
(6078, 'Brenda Smith', 'Guernsey', 'Saratown')
(4071, 'Breanna Torres', 'Senegal', 'South Monica')
(7551, 'Douglas Kent', 'Greenland', 'New Mariomouth')
(7861, 'Marissa Irwin DDS', 'Cameroon', 'Lake Jennifer')
(9815, 'Jessica Flowers', 'North Macedonia', 'Jessicaland')
(2271, 'Makayla Elliott', 'Timor-Leste', 'Lake Scottton')
(2887, 'Mark Richardson', 'Saint Barthelemy', 'Hillberg')
(3878, 'Kayla Moore', 'Papua New Guinea', 'Mirandaview')
(2903, 'Terry Sanchez', 'New Caledonia', 'Dianechester')
(6426, 'Melanie Lee', 'Macao', 'Port Shelialand')
(9269, 'Gina Richards', 'United States Minor Outlying Islands', 'East Lauren')
(3927, 'Valerie Aguilar', 'Spain', 'Johnhaven')
(2510, 'Kelly Gordon', 'Namibia', 'Port Michaelville')
(1194, 'Matthew Smith', 'Sierra Leone', 'North Jacobmouth')
(666, 'Christopher Carroll', 'Kazakhstan', 'North Michelle')
(815, 'Steven Sullivan', 'Azerbaijan', 'Lake Jon')
(8954, 'Courtney Phillips MD', 'Malawi', 'Davidshire')
(8718, 'Charles Holland', 'Panama', 'New Cynthiastad')
(8102, 'David Smith', 'Portugal', 'Lake Carl')
(7182, 'Joshua Lee', 'Germany', 'Raymondfurt')
(4956, 'Jordan Brown', 'United Arab Emirates', 'Donaldview')
(8109, 'Angela Ray', 'Barbados', 'Petersonberg')
(2225, 'Lynn Riley', 'Burundi', 'Kingborough')
(4469, 'Sherry Hanna', 'Italy', 'North Dawn')
(3858, 'Samantha Ray', 'Bolivia', 'New Jacobville')
(7244, 'Paul Curtis', 'India', 'Bethstad')
(925, 'Jeffrey Moore', 'Ireland', 'Williamschester')
(4202, 'Steven Powers', 'Zimbabwe', 'East Jamesmouth')
(1429, 'Jenny Thomas', 'Lebanon', 'Lake Jonathanton')
(2241, 'Linda Padilla', 'Poland', 'Lake Maria')
(8805, 'David Grant', 'Cuba', 'West Bonnieborough')
(5594, 'Nicole Wilson', 'Israel', 'Bryantview')
(2365, 'Jessica Morris', 'Tunisia', 'East Christinaside')
(5684, 'Gabriela Medina', "Cote d'Ivoire", 'Scottfurt')
(3461, 'Deanna Alvarado', 'Azerbaijan', 'Johnsonstad')
(1557, 'Amanda Wilson', 'Heard Island and McDonald Islands', 'West Dylan')
(5487, 'Emily Case', 'Ecuador', 'East Rodneyfort')
(1298, 'Timothy Murray', 'Trinidad and Tobago', 'Samanthaville')
(3500, 'Kimberly Humphrey', 'Micronesia', 'Chandlershire')
(3048, 'Joshua Garcia', 'Chile', 'Thomasstad')
(5688, 'Justin Davis', 'Marshall Islands', 'North Katieshire')
(8226, 'Jorge Miller', 'Singapore', 'North Tamara')
(2692, 'Jennifer Reyes', 'Svalbard & Jan Mayen Islands', 'East Lynnburgh')
(2455, 'Samuel White', 'Slovakia (Slovak Republic)', 'Kathrynmouth')
(8088, 'Teresa Johnson', 'Tajikistan', 'Lawrenceburgh')
(1078, 'Joshua Stone', 'Sierra Leone', 'South Danielfurt')
(106, 'Mr. James Mendez', 'British Indian Ocean Territory (Chagos Archipelago)', 'Paulmouth')
(4617, 'Susan Reid', 'Svalbard & Jan Mayen Islands', 'Mollytown')
(4395, 'Hailey Griffin', 'Kenya', 'West Angelaburgh')
(7619, 'Christopher Holmes', 'Monaco', 'Lake Kenneth')
(8781, 'Toni Oconnor', 'Tuvalu', 'South Aprilburgh')
(4796, 'Mary Sparks', 'Latvia', 'East Curtis')
(231, 'Crystal Stewart', 'Cook Islands', 'Greggville')
(8048, 'Jacob Porter', 'Svalbard & Jan Mayen Islands', 'New Maryton')
(7412, 'Matthew Huynh', 'Bulgaria', 'West Saraborough')
(5328, 'Gary Pineda', 'Brazil', 'East Dawnland')
(7163, 'Jeremy Davis', 'British Indian Ocean Territory (Chagos Archipelago)', 'Port Thomashaven')
(7568, 'Danielle Patel', 'Netherlands', 'Derekmouth')
(1563, 'Cheryl Jones', 'Togo', 'Rebeccaport')
(8412, 'Gabrielle Garcia', 'Netherlands', 'Cunninghammouth')
(9512, 'Micheal Krause', 'Moldova', 'North David')
(7204, 'Natalie Campbell', 'Anguilla', 'Rogerston')
(3661, 'Cody Bailey', 'Poland', 'New Stephanieshire')
(5107, 'Miranda Powell', 'Mauritius', 'Port Robert')
(207, 'Dr. Michael Anderson Jr.', 'Guinea', 'Lake Amytown')
(5268, 'Tyler Sanchez', 'Indonesia', 'Garciamouth')
(8205, 'Brian Young', 'Bolivia', 'Foxstad')
(6899, 'Rhonda Porter', 'Mauritania', 'Carpenterton')
(7557, 'Linda Perkins', 'Djibouti', 'South Brianshire')
(8616, 'Mr. Shawn Adams Jr.', 'Kyrgyz Republic', 'Nathanshire')
(3266, 'Rhonda King', 'Taiwan', 'West Anthony')
(5165, 'Alicia Patrick', 'Haiti', 'Lake Traci')
(9296, 'Jennifer Anderson', 'New Caledonia', 'Port Michaelburgh')
(3997, 'Jennifer Fletcher', 'Tanzania', 'Laurachester')
(3986, 'Elizabeth Brown', 'New Zealand', 'Johnsonhaven')
(6145, 'Ryan Colon', 'France', 'Michaelbury')
(9684, 'Monica West', 'Brazil', 'Glennfurt')
(8313, 'Brett Blake', 'Saint Helena', 'Williamfurt')
(2695, 'Alicia Ellis', 'Mauritius', 'Zacharytown')
(2414, 'Willie Russell', 'Swaziland', 'South Jorgeborough')
(1874, 'Logan Cruz', 'Saint Lucia', 'Port Marcshire')
(2292, 'Robert Lawrence', 'Cambodia', 'Adamsshire')
(2533, 'Debra White', 'Serbia', 'South Kara')
(1359, 'Travis Richards', 'Vietnam', 'South Andresburgh')
(8521, 'Stephanie Blackburn', 'Timor-Leste', 'Josephfort')
(592, 'Julia Moore', 'Indonesia', 'Port Jeffreyland')
(3522, 'Laura Hardy', 'Nauru', 'East Tammy')
(6060, 'Benjamin Freeman', 'Sri Lanka', 'Tylerberg')
(3340, 'Karen Madden', 'Montserrat', 'New Kara')
(9362, 'Julia Smith', 'British Indian Ocean Territory (Chagos Archipelago)', 'West Lynn')
(4813, 'Martin Silva', 'Jamaica', 'South Mark')
(6997, 'Patrick Murphy', 'French Guiana', 'East Gloria')
(1003, 'Dana Williams', 'Honduras', 'Mackfort')
(7805, 'James Brooks', 'Gambia', 'Whiteville')
(4752, 'Adam Kane', 'New Caledonia', 'New Tammy')
(6116, 'Kevin Wilson', 'British Virgin Islands', 'Port Laura')
(9280, 'Wanda Jones', 'New Caledonia', 'West Caroline')
(8904, 'Brittany Richards', 'India', 'North Michael')
(7279, 'Jon Stewart', 'Iceland', 'New Debra')
(8076, 'Jeffery Zhang', 'Greece', 'Avilafort')
(7235, 'Taylor Sheppard', 'Eritrea', 'Cindybury')
(7427, 'Michael Norman', 'Japan', 'New Robert')
(3235, 'Joshua Williams', 'Maldives', 'Mendezville')
(8905, 'Jessica Jones', 'Burkina Faso', 'Rogerberg')
(4120, 'David Barton', 'India', 'Port Samuel')
(9642, 'Melinda Carrillo', 'Maldives', 'Amymouth')
(1586, 'Dr. Joshua Olson', 'Congo', 'Meganshire')
(3813, 'Rodney Jones', 'Isle of Man', 'East Heather')
(3506, 'Russell Morgan', 'Cyprus', 'West Kristina')
(350, 'Nicholas Rangel', 'Chad', 'Hollandstad')
(5998, 'Mary Ellis', 'Oman', 'West Justin')
(3867, 'Jocelyn Mcbride', 'Brunei Darussalam', 'Christopherstad')
(8343, 'Gregory Butler', 'Saint Helena', 'Robinsonstad')
(7230, 'Susan Owens', 'San Marino', 'North Stevenport')
(6983, 'Charles Fischer', 'British Virgin Islands', 'West Christina')
(102, 'Kenneth Singh', 'Sweden', 'Davidhaven')
(7125, 'Kenneth Carlson', 'Afghanistan', 'North Theresa')
(2642, 'Wesley Rocha', 'Iraq', 'East Alexisbury')
(4397, 'Jennifer Smith', 'Italy', 'Lake Kimberg')
(5159, 'David Williams', 'Finland', 'East Allenmouth')
(952, 'Shannon Blanchard', 'Kiribati', 'West Mary')
(4973, 'Rebecca Ruiz', 'Fiji', 'New Jared')
(3895, 'Benjamin Davis', 'Lebanon', 'Norriston')
(650, 'Michael Rivas', 'United Arab Emirates', 'Woodmouth')
(5569, 'James Shields', 'Ghana', 'Jeffborough')
(2461, 'Anthony Collier', 'Hungary', 'Lake Richardfurt')
(9706, 'Mark Perry', 'Korea', 'Lake Andre')
(6106, 'Lori Mosley', 'Egypt', 'Nicholasbury')
(232, 'Emily Sanchez', 'United States Minor Outlying Islands', 'Vickiechester')
(7962, 'Amber Faulkner', 'Czech Republic', 'East Gregorybury')
(9649, 'Stephen Hughes', 'Hong Kong', 'Kristintown')
(1814, 'Christopher Jones', 'Mexico', 'Andersontown')
(9782, 'Eugene Scott', 'Mauritania', 'Wattsmouth')
(7590, 'Rebecca Rodriguez', 'Austria', 'New Thomasmouth')
(145, 'Jasmine Dean', 'Tuvalu', 'Scotthaven')
(888, 'Monica Bradshaw', 'United Arab Emirates', 'Christinahaven')
(5057, 'April Carpenter', 'Morocco', 'East Brentside')
(2991, 'Adam Jacobs', 'Portugal', 'Josephmouth')
(3619, 'Justin Morris', 'Philippines', 'New Sheribury')
(1731, 'Angie Dodson MD', 'Belize', 'Smithton')
(6538, 'Lisa Lambert', 'Korea', 'Laurachester')
(3844, 'Jill Martinez', 'Turkey', 'Campbellburgh')
(5902, 'Haley Paul', 'Montserrat', 'Sheilastad')
(7820, 'Marie Kelly', 'Djibouti', 'Michaelland')
(4826, 'Kevin Murillo', 'Maldives', 'Millershire')
(5925, 'Stacy Jenkins', 'United Arab Emirates', 'Timothystad')
(1484, 'Stephanie Taylor', 'Sudan', 'Fuentesland')
(3253, 'Mary Wright DVM', 'Samoa', 'Torresville')
(7327, 'Kelsey Alexander', 'Macao', 'Michaeltown')
(6562, 'Joseph Fisher', 'Bahrain', 'Wongtown')
(7709, 'Aaron Adams', 'Japan', 'West Josephshire')
(7344, 'Natasha Solis', 'Marshall Islands', 'North Lauren')
(5841, 'Zachary Davis', 'Sri Lanka', 'East Maria')
(5930, 'Tyler Anderson', 'Sri Lanka', 'West Lindsey')
(8474, 'Zachary Underwood Jr.', 'Singapore', 'Hallville')
(4130, 'Ashley Preston', 'Slovenia', 'Morenofurt')
(5795, 'Mary Bruce', 'Aruba', 'Port Jayside')
(3634, 'Julia Gallegos', 'Montserrat', 'East Davidchester')
(451, 'Jason Santiago', 'Turkmenistan', 'Juliefurt')
(5889, 'Miranda Quinn', 'Martinique', 'Port Kaitlynborough')
(5972, 'Robert Montes', 'Mayotte', 'Andrewshire')
(7474, 'Ashley Johnson', 'Jordan', 'North Miguel')
(8256, 'Nicole Huffman', 'Cyprus', 'Mitchellmouth')
(9538, 'Timothy Davis', 'Jamaica', 'Schmidtstad')
(3185, 'Melinda Williams', 'Nepal', 'New Kennethton')
(5314, 'Ryan Potts', 'Turks and Caicos Islands', 'Johnsonshire')
(7165, 'Patrick Wyatt', 'Estonia', 'Hannahchester')
(5723, 'Jaclyn Mclaughlin', 'Botswana', 'Davidville')
(7710, 'Regina Taylor', 'Solomon Islands', 'Jameschester')
(6676, 'David Williams', 'Monaco', 'Paulshire')
(4283, 'Megan Berry', 'Myanmar', 'Port Michael')
(9655, 'Robert Shelton', 'Tajikistan', 'North Robert')
(5502, 'Kathryn Cox DDS', 'Bahrain', 'Coryborough')
(7740, 'Laura Fisher', 'Mauritius', 'West Brian')
(6720, 'Margaret Powell', 'Mauritania', 'Deantown')
(3748, 'Derek Martinez', 'Belarus', 'Lake Katherine')
(4061, 'Frank Welch', 'Macao', 'Lake Scottmouth')
(2777, 'Alex Garza', 'Jersey', 'East Thomasshire')
(2861, 'Tracey Flores', 'Greenland', 'Hendrickstown')
(7878, 'Jack Nichols', 'Turks and Caicos Islands', 'South Meghan')
(6868, 'Daniel Schmidt', 'Ireland', 'East Joshuaside')
(3260, 'Jonathan Jenkins', 'Angola', 'New Troy')
(7174, 'Robert Carter', 'Egypt', 'Port Ann')
(6408, 'Tanya Hatfield', 'Libyan Arab Jamahiriya', 'West Travisfurt')
(3078, 'Sherri Martinez', 'Saint Kitts and Nevis', 'North Matthewstad')
(7618, 'Jay Boyd', 'France', 'Lake Josephmouth')
(1512, 'Melissa Robbins', 'Senegal', 'Smithberg')
(4262, 'Joe Sanders', 'Sao Tome and Principe', 'North Jennifer')
(1166, 'Erin Rose', 'Tuvalu', 'East Madelineland')
(2878, 'Jason Dunlap', 'Malta', 'Port Caitlinview')
(4506, 'Thomas Johnston', 'Falkland Islands (Malvinas)', 'Amyton')
(6601, 'Erin Walker', 'Indonesia', 'Ryanshire')
(9290, 'Joshua Velazquez', 'Myanmar', 'Courtneyland')
(6247, 'Wendy Shaw', 'India', 'North Christopherfurt')
(7237, 'Molly Mercado', 'Latvia', 'Romanton')
(7149, 'Matthew Parker', 'French Guiana', 'North Jacquelinechester')
(4066, 'Cory Perkins', 'Japan', 'Meganland')
(5376, 'Brian Bradley', 'Congo', 'Johnmouth')
(9124, 'Julie Riggs', 'Costa Rica', 'Juarezberg')
(2137, 'Carla Smith', 'Namibia', 'Hamptonmouth')
(2056, 'Peter Soto', 'Tokelau', 'South Isaiah')
(4885, 'Nicole Wilkinson', 'Bahamas', 'West Joshua')
(9252, 'Thomas Kim', 'Mauritania', 'West Amytown')
(3963, 'Nicole Anderson', 'Honduras', 'North Scott')
(7531, 'Adrian Mathews', 'Belize', 'Jenniferport')
(5665, 'Melissa Good', 'Mali', 'Clarkshire')
(8381, 'Paul Woods', 'Myanmar', 'West Rodney')
(8733, 'Alexis Graham', 'Germany', 'East Anthonystad')
(3960, 'Ryan Chambers', 'Guyana', 'Brianbury')
(946, 'Deborah York', 'Iran', 'New Samanthaland')
(8151, 'Ethan Price Jr.', 'Saint Martin', 'Davisport')
(9911, 'Diana Anthony', 'Netherlands Antilles', 'Saramouth')
(5796, 'Lauren Flores', 'Saint Helena', 'Jillburgh')
(1800, 'Olivia Johnson', 'Malta', 'Phillipstown')
(9873, 'Justin Coleman', 'Timor-Leste', 'Alisonmouth')
(7360, 'Sandra Carter', 'Uganda', 'Lake Rachelside')
(6746, 'Candice Miller', 'Comoros', 'Seanview')
(8400, 'Jessica Mann', 'Saint Pierre and Miquelon', 'Owenfort')
(5168, 'Eileen Mclaughlin', 'Jamaica', 'East Michael')
(7442, 'Marvin Thomas', 'Anguilla', 'New Frederick')
(8420, 'Christina Sparks', 'Dominica', 'North Brianborough')
(7913, 'Francis Jacobs', 'Swaziland', 'Lesterfort')
(3883, 'Mikayla Petty', 'Niue', 'East Paula')
(941, 'Rachel Weiss', 'United Kingdom', 'Kirbyland')
(9137, 'Jacqueline Goodwin', 'Lebanon', 'New Robertchester')
(6140, 'Luis Martinez', 'Malta', 'Port Ann')
(324, 'Taylor Hahn', 'Namibia', 'Jasonstad')
(2090, 'Ronnie Hayden', 'Morocco', 'Phillipfurt')
(9348, 'Michelle Chen', 'Vanuatu', 'Williamport')

In [19]:
cursor.execute("select * from customers")
result=cursor.fetchall()
for i in result:
    print(i)

(9780, 'Jessica Hart', 'Martinique', 'South William')
(9169, 'Amy Clark', 'Kazakhstan', 'Davisville')
(6631, 'Danielle Elliott', 'Armenia', 'East Danny')
(8772, 'Robin Mendoza', 'Uganda', 'Johnsonbury')
(8913, 'Abigail Miller', 'Namibia', 'Wrightchester')
(3211, 'Jennifer Wright', 'Zimbabwe', 'New Erinbury')
(1211, 'Ricky Johnston', 'Belarus', 'North Jeremyside')
(9529, 'Brittney Chandler', 'Andorra', 'Bellside')
(6164, 'Justin Pittman', 'Mongolia', 'Port Rhonda')
(3252, 'Robert Smith', 'Austria', 'Tonyaburgh')
(9959, 'Amber Edwards', 'Indonesia', 'Joneston')
(8820, 'Larry Mccoy', 'Greece', 'Jesuston')
(3683, 'Tyler Parsons DDS', 'Slovakia (Slovak Republic)', 'Sanchezburgh')
(7488, 'Monica Kelly', 'Bangladesh', 'South Michaelmouth')
(2525, 'Brandon Martin', 'Kazakhstan', 'East John')
(2289, 'Christina Mathis', 'Solomon Islands', 'Patriciaview')
(3540, 'Mary Davis', 'Ethiopia', 'West Joseph')
(1217, 'Denise Ochoa', 'Sierra Leone', 'New Paul')
(6681, 'Dale Cannon', 'Finland', 'Allisonside')
(4336, 'Russell Harris', 'Indonesia', 'North Mauriceshire')
(2517, 'David Booker', 'Indonesia', 'Cunninghamfurt')
(9966, 'Carrie Sanders', 'Morocco', 'South Ronald')
(9205, 'Emily Ritter', 'North Macedonia', 'West Bonnie')
(1612, 'Scott Winters', 'Saint Kitts and Nevis', 'Lake Steven')
(8916, 'Phillip Le', 'Qatar', 'New Misty')
(6871, 'Chase Stokes', 'Kyrgyz Republic', 'West Amanda')
(9954, 'Christopher Allen', 'Greenland', 'North John')
(7787, 'Lisa Price', 'Hong Kong', 'New Frances')
(5766, 'Leslie Medina', 'French Guiana', 'Paulaton')
(6353, 'Timothy Gonzalez', 'Seychelles', 'East Donald')
(6806, 'Jill Rivas', 'Saint Lucia', 'Millertown')
(349, 'Philip Riggs', 'Fiji', 'East Vickimouth')
(3062, 'Rebecca Burgess', 'Bahrain', 'Port Robertbury')
(6251, 'Duane Bowen', 'Australia', 'East Michael')
(8222, 'April Le', 'South Africa', 'Port Amanda')
(6014, 'Hannah Sutton', 'Ukraine', 'Jenniferside')
(574, 'Kyle Mendoza', 'Kiribati', 'Lindaton')
(8794, 'Jimmy Jackson', 'Jamaica', 'South Johnview')
(6564, 'Paula Jacobs', 'Switzerland', 'Cooperchester')
(2161, 'Penny Love', 'Samoa', 'Johnsonland')
(9708, 'Erika Knox', 'North Macedonia', 'Brownchester')
(2845, 'Mr. Michael Robertson', 'Guernsey', 'Stricklandstad')
(5294, 'Natasha Irwin', 'Dominica', 'Lake Deanna')
(6911, 'Samantha Bradley', 'Iceland', 'Jenniferberg')
(7185, 'Robert Dorsey', 'Cocos (Keeling) Islands', 'Perezmouth')
(4505, 'William Boone', "Cote d'Ivoire", 'North Jacqueline')
(6216, 'Jamie Lawson', 'Saint Barthelemy', 'Robertsbury')
(3159, 'Mr. Michael Martin', 'Ukraine', 'Woodside')
(3085, 'Ronald Peterson', 'Andorra', 'New Jasmine')
(2302, 'Donald Marquez', 'United Kingdom', 'Brianbury')
(7167, 'Veronica Steele', 'Georgia', 'West David')
(3021, 'Katelyn Bennett', 'Slovenia', 'Ambermouth')
(8006, 'Christina Jackson', 'Azerbaijan', 'Morganside')
(8158, 'Mary Adams', 'Cocos (Keeling) Islands', 'Port Christineport')
(2403, 'Carol Reyes', 'Zimbabwe', 'Lake Philip')
(3864, 'Michelle Harrington', 'Jordan', 'East Samanthamouth')
(3834, 'Michael Guerra', 'Gambia', 'Ramirezport')
(8304, 'Aaron Chavez', 'Azerbaijan', 'North Omarside')
(6371, 'Nicholas Odonnell', 'Niger', 'Port Timothy')
(2948, 'Katherine Mcintyre', 'Monaco', 'Erikaborough')
(746, 'Shannon Carroll', 'Mozambique', 'Thomasshire')
(6232, 'Stephanie Spears', 'Morocco', 'Port Sean')
(1528, 'Cynthia Schmidt', 'Saint Pierre and Miquelon', 'West William')
(4339, 'Roy Murphy', 'Seychelles', 'Gardnerberg')
(274, 'Theresa Hicks', 'Netherlands Antilles', 'West Patriciaberg')
(4274, 'Jessica Andrews', 'Algeria', 'West Gabriellaton')
(5869, 'Leonard Scott', 'Korea', 'East Dylan')
(7771, 'Bryan Washington', 'Hong Kong', 'New Michaelfurt')
(6212, 'Stephen Flynn', 'Tanzania', 'West Jessica')
(1891, 'Mrs. Melinda Garcia', 'Cayman Islands', 'New Timothymouth')
(4056, 'Dorothy Hill', 'Congo', 'Jennaberg')
(462, 'Kathleen Fitzgerald', 'Nigeria', 'Port Daniel')
(9304, 'Katherine Bradshaw', 'Denmark', 'South Christopherfort')
(2987, 'Dawn Wolfe', 'Qatar', 'Crawfordton')
(3140, 'Michael Steele', 'Guinea', 'East Susan')
(2946, 'Jacob Newman', 'Cambodia', 'Thomasbury')
(5390, 'Rachel Shelton', 'Armenia', 'Lake Jessica')
(2326, 'Daniel Edwards', 'United Kingdom', 'Jameschester')
(9009, 'James Mccarthy', 'Belarus', 'East Davidport')
(3534, 'Kenneth Parrish', 'Honduras', 'Lake Valerieville')
(1892, 'Madison Black', 'Mali', 'Suzanneville')
(2361, 'Steven Navarro', 'Spain', 'North Kim')
(873, 'Sally Johnson', 'Venezuela', 'West Danielville')
(9608, 'Thomas Moore', 'Singapore', 'Ericton')
(3585, 'Frank Turner', 'India', 'Kennethport')
(4024, 'Carl Rios', 'Nigeria', 'Port Brian')
(6638, 'Jennifer James', 'Moldova', 'Moorefort')
(8052, 'Felicia Hicks', 'Equatorial Guinea', 'Amyfort')
(1670, 'Jessica Lyons', 'Thailand', 'Dawnborough')
(2757, 'Dustin Conner', 'Iceland', 'Dannyfurt')
(5628, 'Tonya Vasquez', 'Oman', 'Kimmouth')
(3283, 'Mason Perkins', 'Djibouti', 'Brownberg')
(3199, 'Amy Thompson', 'Namibia', 'New Tanyahaven')
(1542, 'Meagan Villa', 'Uruguay', 'Lake Jeffreymouth')
(7936, 'Bryce Carter', 'Mali', 'Port Christopher')
(1547, 'Misty Rice', 'Solomon Islands', 'West Kellyton')
(9511, 'Tracy Hunt', "Cote d'Ivoire", 'Kristachester')
(2009, 'Jordan Cox', 'Antarctica (the territory South of 60 deg S)', 'Davidport')
(8325, 'Brad Clark', 'Gambia', 'New Chad')
(6132, 'Andrea Larson', 'Sierra Leone', 'Ronaldmouth')
(1592, 'Monica Roberts', 'Fiji', 'Hollymouth')
(9099, 'Carolyn Baker', 'Denmark', 'Alexton')
(6486, 'Danielle Reyes', 'Angola', 'New Anthonyshire')
(1386, 'Joseph Ochoa', 'North Macedonia', 'North Andreachester')
(2425, 'Crystal Lindsey', 'South Georgia and the South Sandwich Islands', 'Douglasbury')
(1074, 'Gabriela Bishop', 'Andorra', 'West Alexisstad')
(2272, 'Brenda Snyder', 'Zambia', 'Lake Jennifer')
(5482, 'John Parker', 'Sweden', 'Wilsonmouth')
(9920, 'Mary Martin', 'North Macedonia', 'Port Michael')
(9465, 'Jessica Caldwell', 'Singapore', 'Stevenston')
(2726, 'Erin Gray', 'Niue', 'Lake Erin')
(5003, 'Timothy Dixon', 'Sri Lanka', 'East Monica')
(1479, 'Keith Mccall', 'Faroe Islands', 'Tristantown')
(7358, 'Deanna Garcia', 'Norfolk Island', 'Royborough')
(9889, 'David Campbell', 'Malaysia', 'Smithton')
(5649, 'Michael Ponce', 'Dominica', 'Jesseville')
(6725, 'Erika Alexander', 'Guinea', 'Salazarton')
(9329, 'Lauren Morales', 'United Arab Emirates', 'Andersonberg')
(3990, 'Joshua Brooks', 'French Southern Territories', 'Lake Cherylport')
(2144, 'Rebecca Wilson', 'Montserrat', 'Jackieside')
(8096, 'James Stevenson', 'Comoros', 'Coxmouth')
(8233, 'Jason Diaz', 'French Southern Territories', 'Hannahport')
(770, 'Travis Mullins', 'Mongolia', 'Joshuaville')
(903, 'Cheryl Williams', 'Oman', 'Lake Debraton')
(8387, 'Sarah Bailey', 'Pakistan', 'New Michaelstad')
(6428, 'Joshua Lynch', 'Hong Kong', 'New Samuel')
(9052, 'David House', 'Algeria', 'Lake Rebecca')
(6945, 'William Clark', 'Papua New Guinea', 'Smithfurt')
(4359, 'Scott Schneider', 'Argentina', 'New Jacobmouth')
(8601, 'Anthony Rogers', 'Sierra Leone', 'South Corey')
(7513, 'Amy Chen', 'Mali', 'Stephanieview')
(5822, 'Lindsey Smith', 'Chad', 'South Ricky')
(6902, 'Robin Barnes', 'New Caledonia', 'Garzafort')
(5433, 'Jennifer Brown', 'Moldova', 'Jeffreyberg')
(4218, 'Kathleen Osborne', 'Saint Kitts and Nevis', 'East Kennethmouth')
(3621, 'Peter Walker', 'Trinidad and Tobago', 'New Timothyton')
(3492, 'Jacob Reyes', 'Liechtenstein', 'North Bill')
(6797, 'Anna Brown', 'Austria', 'Lisachester')
(3767, 'Victor Hansen', 'Guatemala', 'North Mark')
(521, 'Margaret Ward', 'Belarus', 'South Frederick')
(6078, 'Brenda Smith', 'Guernsey', 'Saratown')
(4071, 'Breanna Torres', 'Senegal', 'South Monica')
(7551, 'Douglas Kent', 'Greenland', 'New Mariomouth')
(7861, 'Marissa Irwin DDS', 'Cameroon', 'Lake Jennifer')
(9815, 'Jessica Flowers', 'North Macedonia', 'Jessicaland')
(2271, 'Makayla Elliott', 'Timor-Leste', 'Lake Scottton')
(2887, 'Mark Richardson', 'Saint Barthelemy', 'Hillberg')
(3878, 'Kayla Moore', 'Papua New Guinea', 'Mirandaview')
(2903, 'Terry Sanchez', 'New Caledonia', 'Dianechester')
(6426, 'Melanie Lee', 'Macao', 'Port Shelialand')
(9269, 'Gina Richards', 'United States Minor Outlying Islands', 'East Lauren')
(3927, 'Valerie Aguilar', 'Spain', 'Johnhaven')
(2510, 'Kelly Gordon', 'Namibia', 'Port Michaelville')
(1194, 'Matthew Smith', 'Sierra Leone', 'North Jacobmouth')
(666, 'Christopher Carroll', 'Kazakhstan', 'North Michelle')
(815, 'Steven Sullivan', 'Azerbaijan', 'Lake Jon')
(8954, 'Courtney Phillips MD', 'Malawi', 'Davidshire')
(8718, 'Charles Holland', 'Panama', 'New Cynthiastad')
(8102, 'David Smith', 'Portugal', 'Lake Carl')
(7182, 'Joshua Lee', 'Germany', 'Raymondfurt')
(4956, 'Jordan Brown', 'United Arab Emirates', 'Donaldview')
(8109, 'Angela Ray', 'Barbados', 'Petersonberg')
(2225, 'Lynn Riley', 'Burundi', 'Kingborough')
(4469, 'Sherry Hanna', 'Italy', 'North Dawn')
(3858, 'Samantha Ray', 'Bolivia', 'New Jacobville')
(7244, 'Paul Curtis', 'India', 'Bethstad')
(925, 'Jeffrey Moore', 'Ireland', 'Williamschester')
(4202, 'Steven Powers', 'Zimbabwe', 'East Jamesmouth')
(1429, 'Jenny Thomas', 'Lebanon', 'Lake Jonathanton')
(2241, 'Linda Padilla', 'Poland', 'Lake Maria')
(8805, 'David Grant', 'Cuba', 'West Bonnieborough')
(5594, 'Nicole Wilson', 'Israel', 'Bryantview')
(2365, 'Jessica Morris', 'Tunisia', 'East Christinaside')
(5684, 'Gabriela Medina', "Cote d'Ivoire", 'Scottfurt')
(3461, 'Deanna Alvarado', 'Azerbaijan', 'Johnsonstad')
(1557, 'Amanda Wilson', 'Heard Island and McDonald Islands', 'West Dylan')
(5487, 'Emily Case', 'Ecuador', 'East Rodneyfort')
(1298, 'Timothy Murray', 'Trinidad and Tobago', 'Samanthaville')
(3500, 'Kimberly Humphrey', 'Micronesia', 'Chandlershire')
(3048, 'Joshua Garcia', 'Chile', 'Thomasstad')
(5688, 'Justin Davis', 'Marshall Islands', 'North Katieshire')
(8226, 'Jorge Miller', 'Singapore', 'North Tamara')
(2692, 'Jennifer Reyes', 'Svalbard & Jan Mayen Islands', 'East Lynnburgh')
(2455, 'Samuel White', 'Slovakia (Slovak Republic)', 'Kathrynmouth')
(8088, 'Teresa Johnson', 'Tajikistan', 'Lawrenceburgh')
(1078, 'Joshua Stone', 'Sierra Leone', 'South Danielfurt')
(106, 'Mr. James Mendez', 'British Indian Ocean Territory (Chagos Archipelago)', 'Paulmouth')
(4617, 'Susan Reid', 'Svalbard & Jan Mayen Islands', 'Mollytown')
(4395, 'Hailey Griffin', 'Kenya', 'West Angelaburgh')
(7619, 'Christopher Holmes', 'Monaco', 'Lake Kenneth')
(8781, 'Toni Oconnor', 'Tuvalu', 'South Aprilburgh')
(4796, 'Mary Sparks', 'Latvia', 'East Curtis')
(231, 'Crystal Stewart', 'Cook Islands', 'Greggville')
(8048, 'Jacob Porter', 'Svalbard & Jan Mayen Islands', 'New Maryton')
(7412, 'Matthew Huynh', 'Bulgaria', 'West Saraborough')
(5328, 'Gary Pineda', 'Brazil', 'East Dawnland')
(7163, 'Jeremy Davis', 'British Indian Ocean Territory (Chagos Archipelago)', 'Port Thomashaven')
(7568, 'Danielle Patel', 'Netherlands', 'Derekmouth')
(1563, 'Cheryl Jones', 'Togo', 'Rebeccaport')
(8412, 'Gabrielle Garcia', 'Netherlands', 'Cunninghammouth')
(9512, 'Micheal Krause', 'Moldova', 'North David')
(7204, 'Natalie Campbell', 'Anguilla', 'Rogerston')
(3661, 'Cody Bailey', 'Poland', 'New Stephanieshire')
(5107, 'Miranda Powell', 'Mauritius', 'Port Robert')
(207, 'Dr. Michael Anderson Jr.', 'Guinea', 'Lake Amytown')
(5268, 'Tyler Sanchez', 'Indonesia', 'Garciamouth')
(8205, 'Brian Young', 'Bolivia', 'Foxstad')
(6899, 'Rhonda Porter', 'Mauritania', 'Carpenterton')
(7557, 'Linda Perkins', 'Djibouti', 'South Brianshire')
(8616, 'Mr. Shawn Adams Jr.', 'Kyrgyz Republic', 'Nathanshire')
(3266, 'Rhonda King', 'Taiwan', 'West Anthony')
(5165, 'Alicia Patrick', 'Haiti', 'Lake Traci')
(9296, 'Jennifer Anderson', 'New Caledonia', 'Port Michaelburgh')
(3997, 'Jennifer Fletcher', 'Tanzania', 'Laurachester')
(3986, 'Elizabeth Brown', 'New Zealand', 'Johnsonhaven')
(6145, 'Ryan Colon', 'France', 'Michaelbury')
(9684, 'Monica West', 'Brazil', 'Glennfurt')
(8313, 'Brett Blake', 'Saint Helena', 'Williamfurt')
(2695, 'Alicia Ellis', 'Mauritius', 'Zacharytown')
(2414, 'Willie Russell', 'Swaziland', 'South Jorgeborough')
(1874, 'Logan Cruz', 'Saint Lucia', 'Port Marcshire')
(2292, 'Robert Lawrence', 'Cambodia', 'Adamsshire')
(2533, 'Debra White', 'Serbia', 'South Kara')
(1359, 'Travis Richards', 'Vietnam', 'South Andresburgh')
(8521, 'Stephanie Blackburn', 'Timor-Leste', 'Josephfort')
(592, 'Julia Moore', 'Indonesia', 'Port Jeffreyland')
(3522, 'Laura Hardy', 'Nauru', 'East Tammy')
(6060, 'Benjamin Freeman', 'Sri Lanka', 'Tylerberg')
(3340, 'Karen Madden', 'Montserrat', 'New Kara')
(9362, 'Julia Smith', 'British Indian Ocean Territory (Chagos Archipelago)', 'West Lynn')
(4813, 'Martin Silva', 'Jamaica', 'South Mark')
(6997, 'Patrick Murphy', 'French Guiana', 'East Gloria')
(1003, 'Dana Williams', 'Honduras', 'Mackfort')
(7805, 'James Brooks', 'Gambia', 'Whiteville')
(4752, 'Adam Kane', 'New Caledonia', 'New Tammy')
(6116, 'Kevin Wilson', 'British Virgin Islands', 'Port Laura')
(9280, 'Wanda Jones', 'New Caledonia', 'West Caroline')
(8904, 'Brittany Richards', 'India', 'North Michael')
(7279, 'Jon Stewart', 'Iceland', 'New Debra')
(8076, 'Jeffery Zhang', 'Greece', 'Avilafort')
(7235, 'Taylor Sheppard', 'Eritrea', 'Cindybury')
(7427, 'Michael Norman', 'Japan', 'New Robert')
(3235, 'Joshua Williams', 'Maldives', 'Mendezville')
(8905, 'Jessica Jones', 'Burkina Faso', 'Rogerberg')
(4120, 'David Barton', 'India', 'Port Samuel')
(9642, 'Melinda Carrillo', 'Maldives', 'Amymouth')
(1586, 'Dr. Joshua Olson', 'Congo', 'Meganshire')
(3813, 'Rodney Jones', 'Isle of Man', 'East Heather')
(3506, 'Russell Morgan', 'Cyprus', 'West Kristina')
(350, 'Nicholas Rangel', 'Chad', 'Hollandstad')
(5998, 'Mary Ellis', 'Oman', 'West Justin')
(3867, 'Jocelyn Mcbride', 'Brunei Darussalam', 'Christopherstad')
(8343, 'Gregory Butler', 'Saint Helena', 'Robinsonstad')
(7230, 'Susan Owens', 'San Marino', 'North Stevenport')
(6983, 'Charles Fischer', 'British Virgin Islands', 'West Christina')
(102, 'Kenneth Singh', 'Sweden', 'Davidhaven')
(7125, 'Kenneth Carlson', 'Afghanistan', 'North Theresa')
(2642, 'Wesley Rocha', 'Iraq', 'East Alexisbury')
(4397, 'Jennifer Smith', 'Italy', 'Lake Kimberg')
(5159, 'David Williams', 'Finland', 'East Allenmouth')
(952, 'Shannon Blanchard', 'Kiribati', 'West Mary')
(4973, 'Rebecca Ruiz', 'Fiji', 'New Jared')
(3895, 'Benjamin Davis', 'Lebanon', 'Norriston')
(650, 'Michael Rivas', 'United Arab Emirates', 'Woodmouth')
(5569, 'James Shields', 'Ghana', 'Jeffborough')
(2461, 'Anthony Collier', 'Hungary', 'Lake Richardfurt')
(9706, 'Mark Perry', 'Korea', 'Lake Andre')
(6106, 'Lori Mosley', 'Egypt', 'Nicholasbury')
(232, 'Emily Sanchez', 'United States Minor Outlying Islands', 'Vickiechester')
(7962, 'Amber Faulkner', 'Czech Republic', 'East Gregorybury')
(9649, 'Stephen Hughes', 'Hong Kong', 'Kristintown')
(1814, 'Christopher Jones', 'Mexico', 'Andersontown')
(9782, 'Eugene Scott', 'Mauritania', 'Wattsmouth')
(7590, 'Rebecca Rodriguez', 'Austria', 'New Thomasmouth')
(145, 'Jasmine Dean', 'Tuvalu', 'Scotthaven')
(888, 'Monica Bradshaw', 'United Arab Emirates', 'Christinahaven')
(5057, 'April Carpenter', 'Morocco', 'East Brentside')
(2991, 'Adam Jacobs', 'Portugal', 'Josephmouth')
(3619, 'Justin Morris', 'Philippines', 'New Sheribury')
(1731, 'Angie Dodson MD', 'Belize', 'Smithton')
(6538, 'Lisa Lambert', 'Korea', 'Laurachester')
(3844, 'Jill Martinez', 'Turkey', 'Campbellburgh')
(5902, 'Haley Paul', 'Montserrat', 'Sheilastad')
(7820, 'Marie Kelly', 'Djibouti', 'Michaelland')
(4826, 'Kevin Murillo', 'Maldives', 'Millershire')
(5925, 'Stacy Jenkins', 'United Arab Emirates', 'Timothystad')
(1484, 'Stephanie Taylor', 'Sudan', 'Fuentesland')
(3253, 'Mary Wright DVM', 'Samoa', 'Torresville')
(7327, 'Kelsey Alexander', 'Macao', 'Michaeltown')
(6562, 'Joseph Fisher', 'Bahrain', 'Wongtown')
(7709, 'Aaron Adams', 'Japan', 'West Josephshire')
(7344, 'Natasha Solis', 'Marshall Islands', 'North Lauren')
(5841, 'Zachary Davis', 'Sri Lanka', 'East Maria')
(5930, 'Tyler Anderson', 'Sri Lanka', 'West Lindsey')
(8474, 'Zachary Underwood Jr.', 'Singapore', 'Hallville')
(4130, 'Ashley Preston', 'Slovenia', 'Morenofurt')
(5795, 'Mary Bruce', 'Aruba', 'Port Jayside')
(3634, 'Julia Gallegos', 'Montserrat', 'East Davidchester')
(451, 'Jason Santiago', 'Turkmenistan', 'Juliefurt')
(5889, 'Miranda Quinn', 'Martinique', 'Port Kaitlynborough')
(5972, 'Robert Montes', 'Mayotte', 'Andrewshire')
(7474, 'Ashley Johnson', 'Jordan', 'North Miguel')
(8256, 'Nicole Huffman', 'Cyprus', 'Mitchellmouth')
(9538, 'Timothy Davis', 'Jamaica', 'Schmidtstad')
(3185, 'Melinda Williams', 'Nepal', 'New Kennethton')
(5314, 'Ryan Potts', 'Turks and Caicos Islands', 'Johnsonshire')
(7165, 'Patrick Wyatt', 'Estonia', 'Hannahchester')
(5723, 'Jaclyn Mclaughlin', 'Botswana', 'Davidville')
(7710, 'Regina Taylor', 'Solomon Islands', 'Jameschester')
(6676, 'David Williams', 'Monaco', 'Paulshire')
(4283, 'Megan Berry', 'Myanmar', 'Port Michael')
(9655, 'Robert Shelton', 'Tajikistan', 'North Robert')
(5502, 'Kathryn Cox DDS', 'Bahrain', 'Coryborough')
(7740, 'Laura Fisher', 'Mauritius', 'West Brian')
(6720, 'Margaret Powell', 'Mauritania', 'Deantown')
(3748, 'Derek Martinez', 'Belarus', 'Lake Katherine')
(4061, 'Frank Welch', 'Macao', 'Lake Scottmouth')
(2777, 'Alex Garza', 'Jersey', 'East Thomasshire')
(2861, 'Tracey Flores', 'Greenland', 'Hendrickstown')
(7878, 'Jack Nichols', 'Turks and Caicos Islands', 'South Meghan')
(6868, 'Daniel Schmidt', 'Ireland', 'East Joshuaside')
(3260, 'Jonathan Jenkins', 'Angola', 'New Troy')
(7174, 'Robert Carter', 'Egypt', 'Port Ann')
(6408, 'Tanya Hatfield', 'Libyan Arab Jamahiriya', 'West Travisfurt')
(3078, 'Sherri Martinez', 'Saint Kitts and Nevis', 'North Matthewstad')
(7618, 'Jay Boyd', 'France', 'Lake Josephmouth')
(1512, 'Melissa Robbins', 'Senegal', 'Smithberg')
(4262, 'Joe Sanders', 'Sao Tome and Principe', 'North Jennifer')
(1166, 'Erin Rose', 'Tuvalu', 'East Madelineland')
(2878, 'Jason Dunlap', 'Malta', 'Port Caitlinview')
(4506, 'Thomas Johnston', 'Falkland Islands (Malvinas)', 'Amyton')
(6601, 'Erin Walker', 'Indonesia', 'Ryanshire')
(9290, 'Joshua Velazquez', 'Myanmar', 'Courtneyland')
(6247, 'Wendy Shaw', 'India', 'North Christopherfurt')
(7237, 'Molly Mercado', 'Latvia', 'Romanton')
(7149, 'Matthew Parker', 'French Guiana', 'North Jacquelinechester')
(4066, 'Cory Perkins', 'Japan', 'Meganland')
(5376, 'Brian Bradley', 'Congo', 'Johnmouth')
(9124, 'Julie Riggs', 'Costa Rica', 'Juarezberg')
(2137, 'Carla Smith', 'Namibia', 'Hamptonmouth')
(2056, 'Peter Soto', 'Tokelau', 'South Isaiah')
(4885, 'Nicole Wilkinson', 'Bahamas', 'West Joshua')
(9252, 'Thomas Kim', 'Mauritania', 'West Amytown')
(3963, 'Nicole Anderson', 'Honduras', 'North Scott')
(7531, 'Adrian Mathews', 'Belize', 'Jenniferport')
(5665, 'Melissa Good', 'Mali', 'Clarkshire')
(8381, 'Paul Woods', 'Myanmar', 'West Rodney')
(8733, 'Alexis Graham', 'Germany', 'East Anthonystad')
(3960, 'Ryan Chambers', 'Guyana', 'Brianbury')
(946, 'Deborah York', 'Iran', 'New Samanthaland')
(8151, 'Ethan Price Jr.', 'Saint Martin', 'Davisport')
(9911, 'Diana Anthony', 'Netherlands Antilles', 'Saramouth')
(5796, 'Lauren Flores', 'Saint Helena', 'Jillburgh')
(1800, 'Olivia Johnson', 'Malta', 'Phillipstown')
(9873, 'Justin Coleman', 'Timor-Leste', 'Alisonmouth')
(7360, 'Sandra Carter', 'Uganda', 'Lake Rachelside')
(6746, 'Candice Miller', 'Comoros', 'Seanview')
(8400, 'Jessica Mann', 'Saint Pierre and Miquelon', 'Owenfort')
(5168, 'Eileen Mclaughlin', 'Jamaica', 'East Michael')
(7442, 'Marvin Thomas', 'Anguilla', 'New Frederick')
(8420, 'Christina Sparks', 'Dominica', 'North Brianborough')
(7913, 'Francis Jacobs', 'Swaziland', 'Lesterfort')
(3883, 'Mikayla Petty', 'Niue', 'East Paula')
(941, 'Rachel Weiss', 'United Kingdom', 'Kirbyland')
(9137, 'Jacqueline Goodwin', 'Lebanon', 'New Robertchester')
(6140, 'Luis Martinez', 'Malta', 'Port Ann')
(324, 'Taylor Hahn', 'Namibia', 'Jasonstad')
(2090, 'Ronnie Hayden', 'Morocco', 'Phillipfurt')
(9348, 'Michelle Chen', 'Vanuatu', 'Williamport')

In [21]:
cursor.execute("select * from transaction_logs limit 10")
result=cursor.fetchall()
for i in result:
    print(i)

(1, 1731, 8609, 'Central home & kitche', 'Home & Kitchen', 'Wallet', 25, 64216, '2021-07-26T20:16:14', 'www.bestbuy.com', 'a395e8c7', 'N', 'Card Expired')
(2, 5539, 2409, 'Upon sport', 'Sports', 'Card', 34, 69877, '2021-08-25T03:41:32', 'www.flipkart.com', 'b40791f8', 'N', 'Invalid CVV')
(3, 3507, 1145, 'Across stationer', 'Stationery', 'Card', 28, 35491, '2024-06-21T21:39:21', 'www.target.com', '7fb6cca9', 'N', 'Blocked Card')
(4, 4826, 8375, 'Start home & kitche', 'Home & Kitchen', 'Card', 33, 39540, '2022-09-17T13:52:11', 'www.amazon.in', 'cae677f3', 'N', 'Transaction Timeout')
(5, 6538, 2149, 'Draw beaut', 'Beauty', 'Card', 27, 80635, '2022-03-09T07:58:08', 'www.etsy.com', 'fbce1649', 'N', 'Invalid CVV')
(6, 9648, 9729, 'Growth beaut', 'Beauty', 'UPI', 44, 62844, '2024-05-29T15:37:37', 'www.amazon.in', 'ebc84512', 'Y', '')
(7, 7940, 453, 'Lose furnitur', 'Furniture', 'Wallet', 28, 21742, '2024-02-11T15:12:49', 'www.amazon.com', 'e407cea7', 'N', 'Invalid CVV')
(8, 5798, 4640, 'Vote grocerie', 'Groceries', 'Internet Banking', 15, 54154, '2022-10-23T23:37:42', 'www.walmart.com', '048ee87d', 'N', 'Card Expired')
(9, 5539, 693, 'Region beaut', 'Beauty', 'Wallet', 16, 67395, '2021-07-29T23:16:11', 'www.tatacliq.com', 'fa29f46d', 'N', 'Transaction Timeout')
(10, 3937, 9612, 'Interview grocerie', 'Groceries', 'Wallet', 17, 12844, '2023-10-16T18:12:20', 'www.amazon.com', 'ef2606ef', 'Y', '')

In [23]:
customer_data.describe()

       customer_id
count  1000.000000
mean   5053.297000
std    2792.627256
min     102.000000
25%    2662.000000
50%    5156.000000
75%    7395.000000
max    9991.000000

In [26]:
transaction_data.describe()

,order_id,customer_id,product_id,qty,price,datetime
count,10000.00000,10000.000000,10000.00000,10000.000000,10000.000000,10000
mean,5000.50000,5540.854400,5153.96520,25.524800,49682.003700,2023-01-25 09:32:06.897900288
min,1.00000,109.000000,201.00000,1.000000,10.000000,2021-07-24 00:13:42
25%,2500.75000,3141.500000,2709.75000,13.000000,24704.750000,2022-04-29 00:09:34.500000
50%,5000.50000,5989.000000,5195.00000,26.000000,49245.500000,2023-01-22 13:19:27
75%,7500.25000,8341.500000,7599.00000,38.000000,74755.000000,2023-10-28 13:48:13
max,10000.00000,9991.000000,9996.00000,50.000000,99989.000000,2024-07-23 08:41:09
std,2886.89568,2776.686488,2828.45628,14.456946,28860.567215,NaN

In [29]:
transaction_data

,order_id,customer_id,product_id,product_name,product_category,payment_type,qty,price,datetime,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,1,1731,8609,Central home & kitche,Home & Kitchen,Wallet,25,64216,2021-07-26 20:16:14,www.bestbuy.com,a395e8c7,N,Card Expired
1,2,5539,2409,Upon sport,Sports,Card,34,69877,2021-08-25 03:41:32,www.flipkart.com,b40791f8,N,Invalid CVV
2,3,3507,1145,Across stationer,Stationery,Card,28,35491,2024-06-21 21:39:21,www.target.com,7fb6cca9,N,Blocked Card
3,4,4826,8375,Start home & kitche,Home & Kitchen,Card,33,39540,2022-09-17 13:52:11,www.amazon.in,cae677f3,N,Transaction Timeout
4,5,6538,2149,Draw beaut,Beauty,Card,27,80635,2022-03-09 07:58:08,www.etsy.com,fbce1649,N,Invalid CVV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,1496,9676,Range home & kitche,Home & Kitchen,Wallet,39,61151,2024-03-17 09:06:05,www.ebay.in,03c982f7,Y,
9996,9997,7288,9927,Once toy,Toys,Internet Banking,44,53963,2024-06-17 08:04:22,www.amazon.in,46bd0811,N,Blocked Card
9997,9998,8381,3852,Human beaut,Beauty,UPI,48,26032,2023-02-05 04:20:30,www.tatacliq.com,d115279c,Y,
9998,9999,5494,7324,Light beaut,Beauty,UPI,17,28277,2024-02-17 03:05:57,www.etsy.com,6d1628b3,N,Card Expired
9999,10000,1490,6547,Source furnitur,Furniture,UPI,34,91020,2023-01-11 03:02:53,www.flipkart.com,224381cd,N,Insufficient Funds